doctype html 
//- 75,76,77,78,79,88 video isme hi cover hongi 
html 
    head 
        title Adarsh Dance Academy
        style 
            include ../static/style.css
        body 
         nav#navbar 
            ul
                div#logo
                    img(src="/static/1.png", alt="")
                    | ADA
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Conatact us ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class info ]

        section#intro 
            //- | ye use hota hai show karne ke liye 
            div Welcome to Adarsh Dance academy
            div.small Eat Sleep Dance Repeat

        section#mission 
            h2 Our Mission
            div.card 
                h3 Dance Perfection
                div.card-box 
                    div.card-img 
                        img(src="/static/2.png", alt="")
                    div.card-content 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, aperiam.
            div.card 
                h3 Dance the way you link
                div.card-box 
                    div.card-img 
                        img(src="/static/3.png", alt="")
                    div.card-content 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, aperiam.
            div.card 
                h3 Expert Teaching 
                div.card-box 
                    div.card-img 
                        img(src="/static/4.png", alt="")
                    div.card-content 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, aperiam.    

        section#sponsor 
            h2 Our Sponsers 
            div#sponsorimg 
                img(src="/static/apple.png", alt="sponser img" class="spimg")
                img(src="/static/hp.png", alt="sponser img" class="spimg")
                img(src="/static/microsoft.png", alt="sponser img" class="spimg")
                img(src="/static/Skype.png", alt="sponser img" class="spimg")

        footer#footer 
            | copyright © 2019 adarshdanceacademy.com

        script 
            include ../static/script.js